
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
        <div class="row">
            <ul class="nav nav-pills nav-stacked tag-list">
                <li class="col-md-4">
                    <a href="https://bootsnipp.com/tags/login" style="background-color: #2C3E50; color:#FFF;">
                        <span class="badge pull-right">75</span>
                        login
                    </a>
                </li>
                </ul>
        </div>
</body>
</html>
